<div class="signup">
    <div>
        <label for="chk">Signup</label><br>
        <!-- <input type="text" name="txt" placeholder="Username" [(ngModel)]="" id="uname"><br><br>
        <input type="text" name="eml" placeholder="Account Number" [(ngModel)]="" id="accno"><br><br>
        <input type="text" name="eml" placeholder="Account Number" [(ngModel)]="" id="accno"><br><br>
        <input type="text" name="eml" placeholder="Account Number" [(ngModel)]="" id="accno"><br><br>
        <input type="text" name="eml" placeholder="Account Number" [(ngModel)]="" id="accno"><br><br>
        <button class="btn1" (click)="">SIGNUP</button> -->
    </div>
    </div><br>

