<app-navbar></app-navbar>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<h1 class="text-light">Transaction History</h1>
<table class="table table-dark table-bordered mt-5 w-100" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Account Number</th>
            <th scope="col">Name</th>
            <th scope="col">Available Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <th>{{acntnum}}</th>
            <th>{{name}}</th>
            <th>{{balance}}</th>
        </tr>
    </tbody>
</table>
