h2{
 margin-left: 20px;
 color: aliceblue;
}

.main {
    height: 420px;
    width: 300px;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    overflow: hidden;
}

.signup {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: center;
    transform: translateY(120px);
    display: flex;
    justify-content: center;
    transition: .8s ease-in-out; 
    padding-top: 15px;
    height:390px;
    border-radius: 10px;
    padding-top: 10px;
    background: rgb(15,18,149);
    background: linear-gradient(90deg, rgba(15,18,149,1) 19%, rgba(255,0,0,1) 100%); 


}

button,label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    padding: 8px;
    border-radius: 5px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: blanchedalmond;
    font-size: x-large;
    transition: .2s ease-in-out;
}

#chk {
    display: none;
}
.input:focus{
    outline: none;
}

#chk:checked ~ .login {
    transform: translateY(-220px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup label {
    transform: scale(.5);
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: rgb(15,18,149);
    background: linear-gradient(90deg, rgba(15,18,149,1) 19%, rgba(255,0,0,1) 100%); 
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
/* button::before {
    content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #00FFCB;
      box-shadow: 0 0 60px rgba(0,255,203,.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    } */
    
    .button:hover, .button:focus {
      color: #313133;
      transform: translateY(-6px);
    }
    
    button:hover::before, button:focus::before {
      opacity: 1;
    }

    .btn1{
      border-radius: 10px;
      font-size: medium;
      background: rgb(131,58,180);
      background: linear-gradient(114deg, rgba(131,58,180,1) 13%, rgba(253,29,29,1) 73%, rgba(252,176,69,1) 100%); 
    }
    .btn2{
      border-radius: 10px;
      font-size: medium;
      background: rgb(131,58,180);
      background: linear-gradient(114deg, rgba(131,58,180,1) 13%, rgba(253,29,29,1) 73%, rgba(252,176,69,1) 100%); 
    }
    /* button::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid #00FFCB;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    } */
    
    button:hover::after, button:focus::after {
      animation: none;
      display: none;
    }
    
    /* @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    } */