/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(15,18,149);
    background: linear-gradient(90deg, rgba(15,18,149,1) 19%, rgba(255,0,0,1) 100%); 
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-family: 'Jost', sans-serif;
}

app-navbar{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px
}